node_modules/
.vscode/
.nyc_output/
.env
dist/
package-lock.json

awscredentials.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
sendgrid.env
